# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
../4HappyDevs/
../Bootstrap 4/
../Deep Work_ Rules for focused success in a distracted world ( PDFDrive.com ).pdf
../FCC/
../FinanceCoding/
../Flask/
../Interneting is easy/
../Learning to Code - Utube Colt Steele Bootcamp/
../Michael Driscoll - Python 101-Leanpub (2016).pdf
../Pasto a Pasto/
../Portfolio-Landing-Page/
../Python Bootcamp 2/
../Python Bootcamp/
../Python Crash Course.pdf ( PDFDrive.com ).pdf
../R&D Rockstar Coding Challenge (ENG).zip
../Scripts/
../This is Us/
../Web Development/
../desarrollo-de-software-agil-en-10Pines.pdf
../index.html
../kleer-proyecto-agiles-con-scrum.pdf
../react-tutorial-app/
../variable del usuario Marcos para PATH.docx

